﻿@model Entities.PacienteObj

@{
    ViewData["Title"] = "Delete";
}


<head>
    <link href="~/assets/css/formulario.css" rel="stylesheet" media="all">
</head>

<div class="wrapper wrapper--w680">
    <div class="card card-4">
        <div class="card-body">
            <h2 class="title">Eliminar Paciente</h2>
            <form asp-action="Delete">
                <div class="row row-space">
                    <div class="col-12">
                        <input type="hidden" asp-for="idPaciente" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="idPaciente" class="control-label">Cédula: </label>
                            <label asp-for="idPaciente" class="control-label"> @Html.DisplayFor(model => model.idPaciente)</label>
                            <span asp-validation-for="idPaciente" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="nombrePaciente" class="control-label">Nombre: </label>
                            <label asp-for="nombrePaciente" class="control-label"> @Html.DisplayFor(model => model.nombrePaciente)</label>
                            <span asp-validation-for="nombrePaciente" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="apellido1Paciente" class="control-label">Primer Apellido: </label>
                            <label asp-for="apellido1Paciente" class="control-label"> @Html.DisplayFor(model => model.apellido1Paciente)</label>
                            <span asp-validation-for="apellido1Paciente" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="apellido2Paciente" class="control-label">Segundo Apellido: </label>
                            <label asp-for="apellido2Paciente" class="control-label"> @Html.DisplayFor(model => model.apellido2Paciente)</label>
                            <span asp-validation-for="apellido2Paciente" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="idHistorialClinicoPaciente" class="control-label">ID Historial: </label>
                            <label asp-for="idHistorialClinicoPaciente" class="control-label"> @Html.DisplayFor(model => model.idHistorialClinicoPaciente)</label>
                            <span asp-validation-for="idHistorialClinicoPaciente" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="fechaNacimientoPaciente" class="control-label">Fecha Nacimiento: </label>
                            <label asp-for="fechaNacimientoPaciente" class="control-label"> @Html.DisplayFor(model => model.fechaNacimientoPaciente)</label>
                            <span asp-validation-for="fechaNacimientoPaciente" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="telefonoPaciente" class="control-label">Teléfono: </label>
                            <label asp-for="telefonoPaciente" class="control-label"> @Html.DisplayFor(model => model.telefonoPaciente)</label>
                            <span asp-validation-for="telefonoPaciente" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="direccionPaciente" class="control-label">Dirección: </label>
                            <label asp-for="direccionPaciente" class="control-label"> @Html.DisplayFor(model => model.direccionPaciente)</label>
                            <span asp-validation-for="direccionPaciente" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="generoPaciente" class="control-label">Género: </label>
                            <label asp-for="generoPaciente" class="control-label"> @Html.DisplayFor(model => model.generoPaciente)</label>
                            <span asp-validation-for="generoPaciente" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="correoPaciente" class="control-label">Correo: </label>
                            <label asp-for="correoPaciente" class="control-label"> @Html.DisplayFor(model => model.correoPaciente)</label>
                            <span asp-validation-for="correoPaciente" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-6">
                        <div class="form-group">
                            <input type="submit" value="Eliminar" class="btn btn-danger" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <input type="button" value="Cancelar" name="volver" class="btn btn-primary" onclick="history.back()" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>