﻿@model Entities.PacienteObj

@{
    ViewData["Title"] = "Edit";
}

<head>
    <link href="~/assets/css/formulario.css" rel="stylesheet" media="all">
</head>

<div class="wrapper wrapper--w680">
    <div class="card card-4">
        <div class="card-body">
            <h2 class="title">Editar Paciente</h2>
            <form asp-action="Edit">
                <div class="row row-space">
                    <div class="col-12">
                        <input type="hidden" asp-for="idPaciente" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="nombrePaciente" class="control-label">Nombre</label>
                            <input asp-for="nombrePaciente" class="form-control" />
                            <span asp-validation-for="nombrePaciente" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="apellido1Paciente" class="control-label">Primer Apellido</label>
                            <input asp-for="apellido1Paciente" class="form-control" />
                            <span asp-validation-for="apellido1Paciente" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="apellido2Paciente" class="control-label">Segundo Apellido</label>
                            <input asp-for="apellido2Paciente" class="form-control" />
                            <span asp-validation-for="apellido2Paciente" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="idHistorialClinicoPaciente" class="control-label">ID Historial</label>
                            <input asp-for="idHistorialClinicoPaciente" class="form-control" />
                            <span asp-validation-for="idHistorialClinicoPaciente" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="fechaNacimientoPaciente" class="control-label">Fecha de Nacimiento</label>
                            <input asp-for="fechaNacimientoPaciente" type="date" class="form-control" />
                            <span asp-validation-for="fechaNacimientoPaciente" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="telefonoPaciente" class="control-label">Teléfono</label>
                            <input asp-for="telefonoPaciente" class="form-control" />
                            <span asp-validation-for="telefonoPaciente" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="direccionPaciente" class="control-label">Dirección</label>
                            <input asp-for="direccionPaciente" class="form-control" />
                            <span asp-validation-for="direccionPaciente" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="generoPaciente" class="control-label">Género</label>
                            <select asp-for="generoPaciente" class="form-select" aria-label="Default select example">
                                <option selected>Seleccione una opción...</option>
                                <option value="Femenino">Femenino</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Otro">Otro</option>
                            </select>
                            <span asp-validation-for="generoPaciente" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="correoPaciente" class="control-label">Correo</label>
                            <input asp-for="correoPaciente" class="form-control" />
                            <span asp-validation-for="correoPaciente" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-6">
                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="col-6">



                        <div class="form-group">
                            <input type="button" value="Cancelar" name="volver" class="btn btn-primary" onclick="history.back()" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
