﻿@model Entities.InventarioObjF

@{
    ViewBag.Title = "Inventario";
}

<head>
    <link href="~/assets/css/formulario.css" rel="stylesheet" media="all">
</head>

<div class="wrapper wrapper--w680">
    <div class="card card-4">
        <div class="card-body">
            <h2 class="title">Crear Inventario</h2>
            <form asp-action="Create">
                <div class="row row-space">
                    <div class="col-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="nombreProductoInventario" class="control-label">Producto</label>
                            <input asp-for="nombreProductoInventario" class="form-control" />
                            <span asp-validation-for="nombreProductoInventario" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="cantidadActualInventario" class="control-label">Cantidad</label>
                            <input asp-for="cantidadActualInventario" class="form-control" />
                            <span asp-validation-for="cantidadActualInventario" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="idUsuario" class="control-label">ID Usuario</label>
                            <input asp-for="idUsuario" value=@ViewData["idUsuarioL"] class="form-control" disabled />
                            <span asp-validation-for="idUsuario" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-6">
                        <div class="form-group">
                            <input type="submit" value="Crear" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="col-6">

                        <div class="form-group">
                            <input type="button" value="Cancelar" name="volver" class="btn btn-primary" onclick="history.back()" />

                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
