﻿@model Entities.InventarioObj

@{
    ViewData["Title"] = "Delete";
}


<head>
    <link href="~/assets/css/formulario.css" rel="stylesheet" media="all">
</head>

<div class="wrapper wrapper--w680">
    <div class="card card-4">
        <div class="card-body">
            <h2 class="title">Eliminar Insumo</h2>
            <form asp-action="Delete">
                <div class="row row-space">
                    <div class="col-12">
                        <input type="hidden" asp-for="idInventario" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="nombreProductoInventario" class="control-label">Producto: </label>
                            <label asp-for="nombreProductoInventario" class="control-label"> @Html.DisplayFor(model => model.nombreProductoInventario)</label>
                            <span asp-validation-for="nombreProductoInventario" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="cantidadActualInventario" class="control-label">Cantidad: </label>
                            <label asp-for="cantidadActualInventario" class="control-label"> @Html.DisplayFor(model => model.cantidadActualInventario)</label>
                            <span asp-validation-for="cantidadActualInventario" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-6">
                        <div class="form-group">
                            <input type="submit" value="Eliminar" class="btn btn-danger" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <input type="button" value="Cancelar" name="volver" class="btn btn-primary" onclick="history.back()" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>