﻿@model Entities.InventarioObj

@{
    ViewData["Title"] = "Edit";
}

<head>
    <link href="~/assets/css/formulario.css" rel="stylesheet" media="all">
</head>

<div class="wrapper wrapper--w680">
    <div class="card card-4">
        <div class="card-body">
            <h2 class="title">Editar Insumo</h2>
            <form asp-action="Edit">
                <div class="row row-space">
                    <div class="col-12">
                        <input type="hidden" asp-for="idInventario" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="nombreProductoInventario" class="control-label">Producto</label>
                            <input asp-for="nombreProductoInventario" class="form-control" />
                            <span asp-validation-for="nombreProductoInventario" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="cantidadActualInventario" class="control-label">Cantidad</label>
                            <input asp-for="cantidadActualInventario" class="form-control" />
                            <span asp-validation-for="cantidadActualInventario" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-6">
                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="col-6">



                        <div class="form-group">
                            <input type="button" value="Cancelar" name="volver" class="btn btn-primary" onclick="history.back()" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
