﻿



@{
    ViewData["Title"] = "Home Page";
}

<body class="counter-scroll header_sticky">
    <!-- Preloader -->
    <div id="loading-overlay">
        <div class="loader"></div>
    </div>
    <div class="wrapper">
        <div id="page">
           
            <!-- Main Content -->
            <div id="main-content" class="site-main clearfix">
                <div id="content-wrap">
                    <div id="site-content" class="site-content clearfix">
                        <div id="inner-content" class="inner-content-wrap">
                            <div class="page-content">

                                <!-- SLIDER -->
                                <div class="rev_slider_wrapper fullwidthbanner-container">
                                    <div id="rev-slider2" class="rev_slider fullwidthabanner">
                                        <ul>
                                            <!-- Slide 1 -->
                                            <li data-transition="random">
                                                <!-- Main Image -->
                                                <img src="~/assets/image/slides/slider1.jpg" alt="image" data-bgposition="center center" data-no-retina>

                                                <!-- Layers -->
                                                <div class="tp-caption tp-resizeme slide-font-1" data-x="['left','left','left','center']" data-hoffset="['4','10','20','-15']" data-y="['middle','middle','middle','middle']" data-voffset="['-160','-157','-157','-85']" data-fontsize="['16']" data-lineheight="['70','70','40','24']"
                                                     data-width="full" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                                     data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="700" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                                                    Odontología General
                                                </div>

                                                <div class="tp-caption tp-resizeme slide-font-2 " data-x="['left','left','left','center']" data-hoffset="['5','5','15','-15']" data-y="['middle','middle','middle','middle']" data-voffset="['-80','-80','-80','-35']" data-fontsize="['68','68','68','45']" data-lineheight="['85','85','85','80']"
                                                     data-width="full" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                                     data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                                                    DR. BRAULIO XAVIER TORRES ROJAS
                                                </div>

                                            </li>
                                            <!-- /End Slide 1 -->
                                            <!-- Slide 2 -->
                                            <li data-transition="random">
                                                <!-- Main Image -->
                                                <img src="~/assets/image/slides/slider2.jpg" alt="image" data-bgposition="center center" data-no-retina>

                                                <!-- Layers -->
                                                <div class="tp-caption tp-resizeme slide-font-1" data-x="['left','left','left','center']" data-hoffset="['4','10','20','-15']" data-y="['middle','middle','middle','middle']" data-voffset="['-160','-157','-157','-85']" data-fontsize="['16']" data-lineheight="['70','70','40','24']"
                                                     data-width="full" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                                     data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="700" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                                                    Odontología General
                                                </div>

                                                <div class="tp-caption tp-resizeme slide-font-2 " data-x="['left','left','left','center']" data-hoffset="['5','5','15','-15']" data-y="['middle','middle','middle','middle']" data-voffset="['-80','-80','-80','-35']" data-fontsize="['68','68','68','45']" data-lineheight="['85','85','85','80']"
                                                     data-width="full" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                                     data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                                                    DR. BRAULIO XAVIER TORRES ROJAS
                                                </div>
                                            </li>
                                            <!-- /End Slide 2 -->
                                        </ul>
                                    </div>
                                </div>

                                <!-- END SLIDER -->
                                <!--/intro-top-->
                                <section class="fl-row intro-middle">
                                    <div class="container">
                                        <div class="row">
                                            <div class="themesflat-spacer clearfix" data-desktop="150" data-mobile="70" data-smobile="70"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="box-heading-intro">
                                                    <h3 class="heading wow fadeInDown">
                                                        ¿QUE REALIZAMOS?
                                                    </h3>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="box-item wow fadeInUp">
                                                    <div class="img">
                                                        <img src="~/assets/image/common/intro01.jpg" alt="image">
                                                    </div>
                                                    <div class="box-wrap">
                                                        <div class="title">
                                                            <a href="service-details.html">Blanqueamiento dental</a>
                                                        </div>
                                                        <p class="pdt-10 text-color-title-sidebar">
                                                            Consiste en quitar todas las manchas dentales que puedan tener los dientes, ya sean
                                                            provocadas por causas naturales o por factores externos como la cafeína o la nicotina.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="box-item wow fadeInUp" data-wow-delay="100ms">
                                                    <div class="img">
                                                        <img src="~/assets/image/common/intro02.jpg" alt="image">
                                                    </div>
                                                    <div class="box-wrap">
                                                        <div class="title">
                                                            <a href="service-details.html">Implantes dentales</a>
                                                        </div>
                                                        <p class="pdt-10 text-color-title-sidebar">
                                                            Se acude a este tipo de tratamiento dental cuando necesitamos
                                                            sustituir piezas bucales a causa de infecciones o caída de las mismas.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="box-item wow fadeInUp" data-wow-delay="200ms">
                                                    <div class="img">
                                                        <img src="~/assets/image/common/intro03.jpg" alt="image">
                                                    </div>
                                                    <div class="box-wrap">
                                                        <div class="title">
                                                            <a href="service-details.html">Ortodoncia brackets</a>
                                                        </div>
                                                        <p class="pdt-10 text-color-title-sidebar">
                                                            Este tipo de tratamiento bucal lo utilizamos para corregir los problemas de
                                                            la mordida, de tal manera  que tiene como principal objetivo
                                                            alinear los dientes y la mandíbula. La ortodoncia con brackets se puede dar tanto en niños como
                                                            en adultos adultos, dependiendo del origen del problema.
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="themesflat-spacer clearfix" data-desktop="80" data-mobile="50" data-smobile="30"></div>
                                        </div>
                                    </div>
                                </section>
                                <!--/intro-middle-->
                                <!--/process-->
                                <section class="fl-row contact-us">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="fl-box-contact">
                                                    <div class="map">
                                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.8652904523947!2d-83.92353608520692!3d9.861667292946064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0df35bd2389e5%3A0x8bd83d45b6e79457!2sCl%C3%ADnica%20Dental%20dr%20Braulio%20Torres!5e0!3m2!1ses-419!2scr!4v1649917303371!5m2!1ses-419!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                                    </div>
                                                    <div class="form-contact-us fl-st-title">
                                                        <div class="themesflat-spacer clearfix" data-desktop="113" data-mobile="70" data-smobile="70"></div>
                                                        <h4 class="heading theme-color">
                                                            CONTÁCTANOS
                                                        </h4>

                                                        <div class="themesflat-spacer" data-desktop="113" data-mobile="70" data-smobile="70"></div>
                                                        <form id="form_Enviar">

                                                            <div>
                                                                <div>
                                                                    <input tabindex="1" id="nombre" name="nombre" value="" class="input-contact" type="text" placeholder="Nombre Completo" required="" height="450">
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div>
                                                                    <input tabindex="2" id="telefono" name="telefono" value="" class="input-contact" type="text" placeholder="Número de Teléfono" required="" height="450">
                                                                </div>
                                                            </div>

                                                            <div>
                                                                <div>
                                                                    <input type="email" tabindex="3" id="correo" name="correo" value="" class="input-contact" placeholder="Correo Electrónico" required="" height="450">
                                                                </div>
                                                            </div>

                                                            <div>
                                                                <textarea name="mensaje" tabindex="5" class="form-control" id="mensaje" placeholder="Descripción" maxlength="1000" height="450"></textarea>
                                                            </div>

                                                            <div>
                                                                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7">
                                                                    <div class="box-submit">
                                                                        <button name="submit"  class="themesflat-button bg-accent btn-submit" onclick="submitEnviar()"><span>Enviar</span></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!--/contact-us-->

                            </div>
                            <!--.page-content-->
                        </div>
                        <!--#inner-content-->
                    </div>
                    <!--site-content-->
                </div>
                <!--#content-wrap-->
            </div>
            <!--#main-content-->
            <footer id="footer">

                <div>
                    <div class="themesflat-spacer clearfix" data-desktop="95" data-mobile="95" data-smobile="25"></div>
                </div>
                <div>
                    <div class="col-12">
                        <div class=" title-footer heading theme-color col-xl-0 col-lg-0 col-md-0 col-sm-0"><h4>Contacto</h4></div>
                        <div class="box-list-footer">

                            <br />
                            <br />
                            <ul class="one-half first">
                                <br />
                                <li>
                                    <span><i class="fas fa-map-marker-alt flat-icon-footer "></i></span>
                                    <span style="color:white">
                                        Cartago,
                                        75 metros norte de emergencias del Hospital Max Peralta. Clínica Santa Lucía.
                                    </span>
                                </li>
                                <li>
                                    <span><i class="fa fa-phone-alt flat-icon-footer"></i></span>
                                    <span><a href="+506 2101 5000" style="color:white">+506 2101 5000</a></span>
                                </li>
                                <li>
                                    <span><i class="fab fa-whatsapp flat-icon-footer"></i></span>
                                    <span><a href="https://wa.me/50671108200/?text=Hola%20,%20Quiero%20Información%20adicional" style="color:white">+506 7110 8200</a></span>
                                </li>
                                <li>
                                    <span><i class="fas fa-envelope flat-icon-footer"></i></span>
                                    <span><a href="mailto:clinicabrauliotorres@gmail.com" style="color:white">clinicabrauliotorres@gmail.com</a></span>
                                </li>
                            </ul><!-- /.one-half -->
                        </div><!-- /.widget-services -->

                    </div>
                </div>
                <div class="row">
                    <div class="themesflat-spacer clearfix" data-desktop="95" data-mobile="50" data-smobile="40"></div>
                </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">

                    <h3 class="copyright">
                        Centro Odontológico Dr. Torres | Derechos reservados 
                    </h3>
                    <ul class="list-icon-bottom">
                        <li class="bottom-icon-active  "><a href="https://es-la.facebook.com/pages/category/General-Dentist/Centro-Odontol%C3%B3gico-Dr-Torres-1421232311442653/" title=""><i class="fab fa-facebook-f"></i></a></li>
                       <li class="bottom-icon-style "><a href="https://wa.me/50671108200/?text=Hola%20,%20Quiero%20Información%20adicional" title=""><i class="fab fa-whatsapp"></i></a></li>
                        <li class="bottom-icon-style "><a href="https://cr.linkedin.com/in/braulio-torres-rojas-a9879a105" title=""><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div><!--/.footer-bottom-->
        </footer>

        <div class="button-go-top">
            <a href="#" title="" class="go-top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>

    </div><!--#page-->
    </div> <!--#wrapper-->

</body>




@section Scripts
{

    <script src="~/Javascript/JSConsultar.js"></script>
     <script type="text/javascript">function submitEnviar() {
    var data = $("#form_Enviar").serialize();
    console.log(data);

               
                $.ajax({
                    type: 'POST',
                    url: '/Home/EnviarEmail',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8', 
                    data: data,
                    success: function (result) {
                        //console.log(result);
                        // alert(data);alert('Successfully received Data ');
                        
                    },
                    error: function () {
                        alert('Failed to receive the Data');
                        console.log('Failed ');
                    }
                })
 


            }</script>
}




