﻿

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Calendario</title>

    <style>

       


    </style>
</head>
 

<body>

    <link rel="stylesheet" href="~/assets/css/color/color-1.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="  https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>







    <header class="header.fixed-top">
        <div id="header">
            <div id="site-header">
                <div class="logo">

                </div>
                <img src="~/assets/image/LogoDark.png" alt="image" style="width:100px;height:100px;">

                <!-- //mobile menu button -->
                <div class="nav-wrap">
                    <nav id="mainnav" class="mainnav">
                        <ul class="menu">

                            <li>
                                <a onclick="location.href='@Url.Action("Index", "Home")'" title="">Inicio</a>
                            </li>
                            @if (User.IsInRole("1"))
                            {
                              
                                <li>
                                    <a onclick="location.href='@Url.Action("Index1", "Calendario")'" title="">Calendario</a>
                                </li>

                            }


                            @if (User.IsInRole("2"))
                            {
                             
                             
                                <li>
                                    <a onclick="location.href='@Url.Action("Index1", "Calendario")'" title="">Calendario</a>
                                </li>

                            }


                            @if (User.IsInRole("1") || User.IsInRole("2"))
                            {
                                <li>
                                    <a onclick="location.href='@Url.Action("Logout", "Login")'" title="">Salir</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a onclick="location.href='@Url.Action("Index", "Login")'" title="">Iniciar Sesión</a>
                                </li>

                            }

                          
                        </ul>
                        <!-- /.menu -->
                    </nav>
                </div>
                <!-- /#mainnav -->
                <div class="contact">
                    <div class="top-bar-right">
                        <div class="call-us">
                            <div class="icon-call-us"></div>
                            <div class="content-call-us">
                                <p>Llamanos</p>
                                <a href="tel:+50621015000" class="font-bold text-color-title-sidebar">tel: +50621015000</a>
                            </div>
                            @ViewBag.username
                        </div>
                    </div>
                </div>

                <div class="btn-menu">
                    <span></span>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()



            <script>document.addEventListener('DOMContentLoaded', function () {

    // add the responsive classes after page initialization
    window.onload = function () {
        $('.fc-toolbar.fc-header-toolbar').addClass('row col-lg-12');
    };

    // add the responsive classes when navigating with calendar buttons

    $(document).on('click', '.fc-button', function (e) {
        $('.fc-toolbar.fc-header-toolbar').addClass('row col-lg-12');
    });



                    let date = new Date();

                    var calendarEl = document.getElementById('calendar');

                    var calendar = new FullCalendar.Calendar(calendarEl, {

                                      
                        headerToolbar: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'timeGridWeek,timeGridDay'
                        },
                        initialView: 'timeGridWeek',
                        initialDate: date.toISOString().split('T')[0],
                        selectable: true,
                        selectMirror: true,
                        defaultView: 'agendaDay',


                        selectAllow: function (arg) {
                            var check = moment(arg.start).format('YYYY-MM-DD HH:mm:ss');
                            var hora = moment(arg.start).format('HH:mm:ss');
                            var f30 = moment(arg.start).add(30, 'm').format('YYYY-MM-DD HH:mm:ss');
                            var checkend = moment(arg.end).format('YYYY-MM-DD HH:mm:ss');
                            if (arg.start < Date.now()) {

                              


                                return false;

                            } if (checkend > f30) {


                                return false;
                            } else {

                                if (hora < '08:00:00') {
                                    return false;
                                }

                                if (hora > '17:00:00') {
                                    return false;
                                }





                                return true
                            }


                        },

                        

                        eventRender: function (event, element) {
                            $(element).addTouch();

                        },
                        defaultEventMinutes: 30,

                        showNonCurrentDates: false,

                        eventWillUnmount: function (info) {
                            console.log(info.event.extendedProps);

                        },

                        select: function (arg) {

                            var check = moment(arg.start).format('YYYY-MM-DD HH:mm:ss');
                            var today = moment(new Date()).format('YYYY-MM-DD HH:mm:ss');
                            if (check >= today) {

                               
                                addEvent(arg)
                                calendar.unselect()


                            }

                            else {
                                alert("No se pueden crear eventos en el pasado!");
                                calendar.unselect()

                            }
                        },

                        dayMaxEventRows: 3,

                        editable: false,
                        locales: 'es',
                        buttonText: {
                            prev: "Ant",
                            next: "Sig",
                            today: "Hoy",
                            month: "Mes",
                            week: "Semana",
                            day: "Día",
                            list: "Agenda"
                        },

                        businessHours: {
                            start: '07:00', 
                            end: '17:00',
                            //dow: [1, 2, 3, 4, 5] // dias de semana, 0=Domingo

                        },

                        events: '/Calendario/GetEvents',
                        eventColor: '#87CEEB'


                    });




                    /**
                     * function Paciente
                     * */
                    function addEvent(arg) {

                        currentEvent = arg;



                        $('#eventForm')[0].reset();


                        $('#descripcion').val(arg.description);
                        //  $('#idUsuarioPaciente').val(arg.description);
                        $('#StartTime').val(arg.startStr);
                        $('#EndTime').val(arg.endStr,);


                        $('#IdHistorialClinico').val(arg.IdHistorialClinico);
                        $('#isNewEvent').val(true);



                        $('#modal-event').modal('show');
                    }

                    /**
                     * Modal
                     * */



                    function sendAddEvent(EventosObj) {


                        var titulo = '';
                        var id = '';
                        var desc = '';
                        var hc = '';
                        var e = '';
                        var s = '';
                        var c = '';
                        var g = '';




                        titulo = EventosObj.title;
                        id = EventosObj.idUsuario;
                        desc = EventosObj.description;
                        hc = EventosObj.IdHistorialClinico;
                        e = EventosObj.endStr;
                        s = EventosObj.startStr;
                        c = EventosObj.color;
                        g = EventosObj.groupId;




                        axios.post('/Calendario/AddEvent', {
                            title: titulo,
                            IdUsuario: id,
                            End: e,
                            start: s,
                            Description: desc
                            // IdHistorialClinico:hc



                        })
                            .then(function (response) {
                                calendar.addEvent(currentEvent)
                                $('#modal-event').modal('hide');


                                $('#eventForm')[0].reset();
                                document.getElementById("crearCita").disabled = false;

                            })
                            .catch(function (error) {
                                console.log(error);
                            });




                    }






                    $('#AllDay').on('change', function (e) {
                        if (e.target.checked) {
                            $('#EndTime').val('');
                            fpEndTime.clear();
                            this.checked = true;
                        } else {
                            this.checked = false;
                        }
                    });

                    $('#EndTime').on('change', () => {
                        $('#AllDay')[0].checked = false;
                    });

                    $('#crearCita').click(() => {
                        const title = $('#descripcion').val();
                        const idUsuario = $('#idUsuarioPaciente').val();
                        const IdHistorialClinico = $('#IdHistorialClinico').val();
                        const description = $('#Description').val();
                        const startTime = moment($('#StartTime').val());
                        const endTime = moment($('#EndTime').val());
                        const isAllDay = $('#AllDay').is(":checked");
                        const isNewEvent = $('#isNewEvent').val() === 'true' ? true : false;
                        document.getElementById("crearCita").disabled = true;

                        if (startTime > endTime) {
                            alert('Start Time cannot be greater than End Time');

                            return;
                        } else if ((!startTime.isValid() || !endTime.isValid()) && !isAllDay) {
                            alert('Please enter both Start Time and End Time');

                            return;
                        }


                        if (isNewEvent) {

                            currentEvent.idUsuario = idUsuario;
                            currentEvent.title = title;
                            currentEvent.description = description;
                            currentEvent.IdHistorialClinico = IdHistorialClinico;
                            currentEvent.groupId = '';
                            currentEvent.color = '';



                            sendAddEvent(currentEvent);
                        }
                    });








                    calendar.render();





                });</script>
        </main>
    </div>
</body>
</html>


@await RenderSectionAsync("Scripts", required: false)
@await RenderSectionAsync("Style", required: false)