﻿@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ConsultorioDrTorres</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="~/assets/css/color/color-1.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/revolution/css/layers.css">
    <link rel="stylesheet" href="~/revolution/css/settings.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <!--owl.carousel-->
    <link rel="stylesheet" href="~/owlcarousel/assets/owl.theme.default.min.css">
    <!--animation-->
    <link rel="stylesheet" href="~/assets/animation/animate.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/estilosOdontograma.css" />

    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" asp-append-version="true">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" asp-append-version="true">
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet" asp-append-version="true">
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet" asp-append-version="true">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" asp-append-version="true">
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet" asp-append-version="true">
     <link rel="stylesheet" href="~/js/Datatables/Datatables.css" />
    <!-- Close Odontogram -->
    <!-- Function to start Odontrogram on View-->
</head>
<body>

    <header class="header.fixed-top">
        <div id="header">
            <div id="site-header">
                <div class="logo">

                </div>
                <img src="~/assets/image/LogoDark.png" alt="image" style="width:100px;height:100px;">

                <!-- //mobile menu button -->
                <div class="nav-wrap">
                    <nav id="mainnav" class="mainnav">
                        <ul class="menu">



                            <li>
                                <a onclick="location.href='@Url.Action("Index", "Home")'" title="">Inicio</a>
                            </li>
                            @if (User.IsInRole("1"))
                            {
                                <li>
                                    <a onclick="location.href='@Url.Action("Index", "Inventario")'" title="">Inventario</a>
                                </li>
                                <li>
                                    <a onclick="location.href='@Url.Action("Index", "Paciente")'" title="">Pacientes</a>
                                </li>
                                <li>
                                    <a onclick="location.href='@Url.Action("Index1", "Calendario")'" title="">Calendario</a>
                                </li>
                                @*<li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Odontograma" asp-action="Index">Odontograma</a>
                                    </li>*@

                            }



                            @if (User.IsInRole("2"))
                            {


                                <li>
                                    <a onclick="location.href='@Url.Action("Index1", "Calendario")'" title="">Calendario</a>
                                </li>

                            }


                            @if (User.IsInRole("1") || User.IsInRole("2"))
                            {
                                <li>
                                    <a onclick="location.href='@Url.Action("Logout", "Login")'" title="">Salir</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a onclick="location.href='@Url.Action("Index", "Login")'" title="">Iniciar Sesión</a>
                                </li>

                            }







                        </ul>
                        <!-- /.menu -->
                    </nav>
                </div>
                <!-- /#mainnav -->
                <div class="contact">
                    <div class="top-bar-right">
                        <div class="call-us">

                            @ViewBag.username
                        </div>

                    </div>
                </div>

                <div class="btn-menu">
                    <span></span>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">


            <script src="assets/vendor/apexcharts/apexcharts.min.js" asp-append-version="true"></script>
            <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
            <script src="assets/vendor/chart.js/chart.min.js" asp-append-version="true"></script>
            <script src="assets/vendor/echarts/echarts.min.js" asp-append-version="true"></script>
            <script src="assets/vendor/quill/quill.min.js" asp-append-version="true"></script>
            <script src="assets/vendor/simple-datatables/simple-datatables.js" asp-append-version="true"></script>
            <script src="assets/vendor/tinymce/tinymce.min.js" asp-append-version="true"></script>
            <script src="assets/vendor/php-email-form/validate.js" asp-append-version="true"></script>
            <!-- Template Main JS File -->
            <script src="assets/js/main.js" asp-append-version="true"></script>





            <script type='text/javascript' src='js/odontCanvas/util/constants.js' asp-append-version="true"></script>
            <script type='text/javascript' src='js/odontCanvas/util/settings.js' asp-append-version="true"></script>
            <script type='text/javascript' src='js/odontCanvas/models/rect.js' asp-append-version="true"></script>
            <script type='text/javascript' src='js/odontCanvas/models/damage.js' asp-append-version="true"></script>
            <script type='text/javascript' src='js/odontCanvas/models/textBox.js' asp-append-version="true"></script>
            <script type='text/javascript' src='js/odontCanvas/models/tooth.js' asp-append-version="true"></script>
            <script type='text/javascript' src='js/odontCanvas/core/renderer.js' asp-append-version="true"></script>
            <script type='text/javascript' src='js/odontCanvas/core/odontogramaGenerator.js' asp-append-version="true"></script>
            <script type='text/javascript' src='js/odontCanvas/core/collisionHandler.js' asp-append-version="true"></script>






            <script type='text/javascript' src="js/odontCanvas/core/engine.js" asp-append-version="true"></script>

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ConsultorioDrTorres - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!--Odontograma Script-->
    <script type="text/javascript" src="~/javascript/jquery-2.1.4.js"></script>
    <script src="~/javascript/angular.js"></script>
    <!--Jquery/Javascrip-->
    <script type="text/javascript" src="~/javascript/jquery-odontograma.js"></script>
    <!--Modulo de Angular-->
    <script src="~/javascript/app.js"></script>
    <!-- Angular Directivas-->
    <script src="~/javascript/controller.js"></script>

    <!-- Javascript -->
    <script type="text/javascript" src="~/javascript/jquery.min.js"></script>
    <script type="text/javascript" src="~/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/javascript/jquery.easing.js"></script>
    <script type="text/javascript" src="~/javascript/jquery-countTo.js"></script>
    <script type="text/javascript" src="~/javascript/jquery-validate.js"></script>

    <!-- Revolution Slider -->
    <script type="text/javascript" src="~/javascript/rev-slider.js"></script>
    <!-- Load Extensions only on Local File Systems ! The following part can be removed on Server for On Demand Loading -->
    <script type="text/javascript" src="~/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/jquery.themepunch.tools.min.js"></script>
    <!-- <script type="text/javascript" src="revolution/js/slider_v1.js"></script>
    <script type="text/javascript" src="revolution/js/slider_v2.js"></script> -->
    <script type="text/javascript" src="~/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <!--animation-->
    <script src="~/assets/animation/wow.min.js"></script>
    <script src="~/javascript/animation.js"></script>
    <!--owl.carousel-->
    <script src="~/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/owlcarousel/carousel.js"></script>
    <script type="text/javascript" src="~/javascript/main.js"></script>
    <script type="text/javascript" src="~/js/Datatables/Datatables.js"></script>



    <script src="assets/vendor/apexcharts/apexcharts.min.js" asp-append-version="true"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="assets/vendor/chart.js/chart.min.js" asp-append-version="true"></script>
    <script src="assets/vendor/echarts/echarts.min.js" asp-append-version="true"></script>
    <script src="assets/vendor/quill/quill.min.js" asp-append-version="true"></script>
    <script src="assets/vendor/simple-datatables/simple-datatables.js" asp-append-version="true"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js" asp-append-version="true"></script>
    <script src="assets/vendor/php-email-form/validate.js" asp-append-version="true"></script>
    <!-- Template Main JS File -->
    <script src="assets/js/main.js" asp-append-version="true"></script>





    <script type='text/javascript' src='js/odontCanvas/util/constants.js' asp-append-version="true"></script>
    <script type='text/javascript' src='js/odontCanvas/util/settings.js' asp-append-version="true"></script>
    <script type='text/javascript' src='js/odontCanvas/models/rect.js' asp-append-version="true"></script>
    <script type='text/javascript' src='js/odontCanvas/models/damage.js' asp-append-version="true"></script>
    <script type='text/javascript' src='js/odontCanvas/models/textBox.js' asp-append-version="true"></script>
    <script type='text/javascript' src='js/odontCanvas/models/tooth.js' asp-append-version="true"></script>
    <script type='text/javascript' src='js/odontCanvas/core/renderer.js' asp-append-version="true"></script>
    <script type='text/javascript' src='js/odontCanvas/core/odontogramaGenerator.js' asp-append-version="true"></script>
    <script type='text/javascript' src='js/odontCanvas/core/collisionHandler.js' asp-append-version="true"></script>






    <script type='text/javascript' src="js/odontCanvas/core/engine.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Style", required: false)
</body>
</html>
