﻿


@model Entities.PacienteObj


<div class="p-3 py-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="text-right">@Html.DisplayFor(model => model.nombrePaciente)</h1>
    </div>
    <div class="row mt-2">
        <div class="col-md-6"><label class="labels">Nombre</label><input type="text" class="form-control" value="@Html.DisplayFor(model => model.nombrePaciente)" disabled></div>
        <div class="col-md-6"><label class="labels">Apellidos</label><input type="text" class="form-control" value="@Html.DisplayFor(model => model.apellido1Paciente )" disabled></div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12"><label class="labels">Identificación</label><input type="text" class="form-control" placeholder="" value="@Html.DisplayFor(model => model.idPaciente)" disabled></div>
        <div class="col-md-12"><label class="labels">Fecha de Nacimiento</label><input type="text" class="form-control" placeholder="enter address line 1" value="@Html.DisplayFor(model => model.fechaNacimientoPaciente)" disabled></div>
        <div class="col-md-12"><label class="labels">Teléfono</label><input type="text" class="form-control" placeholder="enter address line 2" value="@Html.DisplayFor(model => model.telefonoPaciente)" disabled></div>
        <div class="col-md-12"><label class="labels">Dirección</label><input type="text" class="form-control" placeholder="enter address line 2" value="@Html.DisplayFor(model => model.direccionPaciente)" disabled></div>
        <div class="col-md-12"><label class="labels">Correo electrónico</label><input type="text" class="form-control" placeholder="enter email id" value="@Html.DisplayFor(model => model.correoPaciente)" disabled></div>
    </div>
</div>