﻿
@model Entities.ProcedemientoClinicoObj




<form action="CrearProcedimiento" id="form_procedimientos">





    <label for="textarea-1650436661211" class="formbuilder-textarea-label">Detalle de procedimiento</label>
    <input type="hidden" name="idHistorialClinico" id="idHistorialClinico" value="@(Model.idHistorialClinico)" />
    <textarea asp-for="detalleProcedimientoClinicoExtenso" class=estilotextarea2 cols="60" rows="12"></textarea>

</form>