﻿@model Entities.UsuarioObj

@{
    ViewBag.Title = "Registrarse";
}

<head>
    <link href="~/assets/css/formulario.css" rel="stylesheet" media="all">
</head>

<div class="wrapper wrapper--w680">
    <div class="card card-4">
        <div class="card-body">
            <h2 class="title">Registrarse</h2>
            <form asp-action="Create">
                <div class="row row-space">
                    <div class="col-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="idUsuario" class="control-label">Cédula</label>
                            <input asp-for="idUsuario" class="form-control" />
                            @ViewBag.msg
                            <span asp-validation-for="idUsuario" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="nombreUsuario" class="control-label">Nombre</label>
                            <input asp-for="nombreUsuario" class="form-control" />
                            <span asp-validation-for="nombreUsuario" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="correoUsuario" class="control-label">Correo</label>
                            <input asp-for="correoUsuario" class="form-control" />
                            @ViewBag.msg
                            <span asp-validation-for="correoUsuario" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="passUsuario" class="control-label">Contraseña</label>
                            <input asp-for="passUsuario" class="form-control" />
                            <span asp-validation-for="passUsuario" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="confirmPassword" class="control-label">Confirmar contraseña</label>
                            <input asp-for="confirmPassword" class="form-control" />
                            <span asp-validation-for="confirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-6">
                        <div class="form-group">
                            <input type="submit" value="Registrar" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <input type="button" value="Cancelar" name="volver" class="btn btn-primary" onclick="history.back()" />

                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
