﻿@model Entities.UsuarioObj

@{
    ViewBag.Title = "Olvidó contraseña";
}

<head>
    <link href="~/assets/css/formulario.css" rel="stylesheet" media="all">
</head>

<div class="wrapper wrapper--w680">
    <div class="card card-4">
        <div class="card-body">
            <h2 class="title">Olvidé mi contraseña</h2>
            <form asp-action="Forget">
                <div class="row row-space">
                    <div class="col-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="correoUsuario" class="control-label">Correo</label>
                            <input asp-for="correoUsuario" class="form-control" />
                            @ViewBag.msg
                            <span asp-validation-for="correoUsuario" class="text-danger"></span>

                        </div> 
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-6">
                        <div class="form-group">
                            <input type="submit" value="Enviar" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <input type="button" value="Cancelar" name="volver" class="btn btn-primary" onclick="history.back()" />

                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
