﻿@model IEnumerable<Entities.EventosObj>






@if (User.IsInRole("2"))
{
    Layout = "~/Views/Shared/_CalendarioPaciente.cshtml";
}

@if (User.IsInRole("1"))
{
    Layout = "~/Views/Shared/_Calendario.cshtml";
}


@{ var identityl = (System.Security.Claims.ClaimsIdentity)Context.User.Identity;

    string idf = identityl.Claims.FirstOrDefault(c => c.Type == "id").Value;}


<!DOCTYPE html>
<html lang='en'>
<head>


    <meta charset='utf-8' />


    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



    <link rel="stylesheet" href="    https://releases.jquery.com/git/ui/jquery-ui-git.css">

    <link rel="stylesheet" href="~/css/Dt.css" asp-append-version="true" />


</head>
<body>
    <div class="container">

        <div class="row">
            <div id="content" class="col-lg-12">
                <div id="calendar"></div>
                <div class="modal fade" id="modal-event" tabindex="-1" role="dialog" aria-labelledby="modal-eventLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="event-title"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="event-description"></div>


                                <div class="">
                                    <label for="" class="col-sm-12 col-form-label">Descripción de la Cita</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="descripcion">
                                    </div>
                                </div>
                                <input type="hidden" class="form-control" id="idUsuarioPaciente" value="@idf">



                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="button" id="crearCita" class="btn btn-primary">Crear Cita</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>



    <div class="modal fade" id="eventModal" role="dialog" aria-labelledby="eventModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="eventModalLabel">Event</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form id="eventForm">


                        <div class="">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="nombrePaciente" placeholder="Buscar Nombre Paciente">
                            </div>
                        </div>
                        <div class="">
                            <label for="" class="col-sm-12 col-form-label">Cedula Paciente </label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="IdUsuario">
                            </div>
                        </div>

                        <div class="">
                            <label for="" class="col-sm-12 col-form-label">Telefono Paciente</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="telefonoPaciente">
                            </div>
                        </div>




                        <div class="">
                            <label for="" class="col-sm-12 col-form-label">Titulo</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="EventTitle">
                            </div>
                        </div>
                        <input type="hidden" class="form-control" id="StartTime">
                        <input type="hidden" class="form-control" id="EndTime">


                        <div class="">
                            <label for="" class="col-sm-12 col-form-label">Description</label>
                            <div class="col-sm-12">
                                <textarea class="form-control" id="Description" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="">
                            <div class="col-sm-3 offset-sm-9">
                                <label><input type="checkbox" id="AllDay" /> All Day</label>
                            </div>
                        </div>
                        <input type="hidden" id="isNewEvent" />
                        <input type="hidden" id="correo" />
                        <input type="hidden" id="IdHistorialClinico" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="deleteEvent">Delete</button>
                    <div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="eventModalSave">Save Changes</button>


                        <div class="row">
                            <div id="faruspiner" class="col-lg-12">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    @if (User.IsInRole("2"))
    {


<div class="container">

    <div class="row">
        <br/>
        @Html.Partial("_Usuario", Model)


    </div>


</div>

      
    }




</body>
</html>





@section Style{


    <link href="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.11.0/main.min.css,npm/fullcalendar@5.11.0/main.min.css" rel="stylesheet" />

}

@section Scripts{


    <script href="~/lib/fc/locales/es.js"></script>
    <script src="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.11.0/main.min.js,npm/fullcalendar@5.11.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>




    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">$('#nombrePaciente').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Calendario/SearchUser/',
                    dataType: 'json',
                    data: { term: $('#nombrePaciente').val() },
                    success: function (data) {
                        var result = $.map(data, function (item) {
                            return {
                                label: item.nombreCompleto,
                                value: item.idPaciente,
                                faru: item.telefonoPaciente,
                                correo: item.correoPaciente
                            };
                        });
                        return response(result);
                    }
                });
            },
            select: function (event, ui) {
                event.preventDefault();
                $('#nombrePaciente').val(ui.item.label);
                $('#IdUsuario').val(ui.item.value);
                $('#telefonoPaciente').val(ui.item.faru);
                $('#correo').val(ui.item.correo);


            },
            delay: 0

        });</script>








    <script src="~/js/Dt.js" asp-append-version="true"></script>








}
