﻿@model IEnumerable<Entities.EventosObj>
<style>
    body {
        margin-top: 20px;
        background: #f8f8f8
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    /* setting the text-align property to center*/
    td {
        padding: 5px;
        text-align: center;
    }

    .field {
        display: flex;
        position: realtive;
        flex-direction: row;
    }

        .field > input[type=text],
        .field > button {
            display: block;
            font: 1.2em 'Montserrat Alternates';
        }

        .field > button {
            height: 100%;
            width: 20%;
            white-space: nowrap;
            border: 0;
            cursor: pointer;
            position: relative;
        }
</style>
<table class="table" id="TblUsers">
    <thead>
        <tr>
            <th class="text-center wrap align-middle"><span> Procedimiento</a></span></th>
            <th class="text-center wrap align-middle"> Fecha</th>
            <th class="text-center wrap align-middle"> Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text wrap align-middle"><span> @Html.DisplayFor(modelItem => item.title)</span> </td>
                <td class="text wrap align-center"><span> @Html.DisplayFor(modelItem => item.description) </span></td>
                <td class="text-center align-middle">
                    <div class="btn-group align-top">
                    </div>
                    <div class="btn-group align-top">
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts
{
    <script src="~/js/Funciones.js" asp-append-version="true"></script>
}
<script>$(function () {
        $("button.delBtn").click(function (e) {
            e.preventDefault();
            var btnClicked = $(this);
            var idToSend = btnClicked.data("id");
            HttpContext.Session.SetString("idUser", idToSend.ToString());
            console.log(idToSend);
            //do your ajax call.
        });
    });</script>