﻿@model Entities.RecetaObjF

@{
    ViewBag.Title = "Receta";
}


<div>
    @Context.Session.GetString("UserName")
</div>

<head>


    <link href="~/assets/css/formulario.css" rel="stylesheet" media="all">
</head>

<div class="wrapper wrapper--w680">
    <div class="card card-4">
        <div class="card-body">
            <h2 class="title">Crear Receta</h2>
            <form asp-action="Crear">




                <div class="row row-space">
                    <div class="col-12">




                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="nombreDoctor" class="control-label">Nombre Del Doctor</label>
                            <input asp-for="nombreDoctor" class="form-control" disabled />
                            <span asp-validation-for="nombreDoctor" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="codigoDoctor" class="control-label">Codigo Del Doctor</label>
                            <input asp-for="codigoDoctor" class="form-control" disabled />
                            <span asp-validation-for="codigoDoctor" class="text-danger"></span>
                        </div>
                        <div class="form">
                            <label asp-for="detalleReceta" class="control-label">Detalle Receta</label>
                            <textarea asp-for="detalleReceta" rows="5" cols="40"></textarea>
                            <span asp-validation-for="detalleReceta" class="text-danger"></span>
                        </div>


                      
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            <input value=" @Context.Session.GetString("UserName")" class="form-control" disabled />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="idHistorialClinico" class="control-label">ID Usuario</label>
                            <input asp-for="idHistorialClinico" value="@Model.idHistorialClinico" class="form-control" disabled />
                            <span asp-validation-for="idHistorialClinico" class="text-danger"></span>
                        </div>


                    </div> 
                </div>


                <div class="row row-space">
                    <div class="col-6">

                        <div class="form-group">

                            <input type="submit" value="Crear" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="col-6">

                        <div class="form-group">
                            <input type="button" value="Cancelar" name="volver" class="btn btn-primary" onclick="history.back()" />

                        </div>
                    </div>
                </div>



            </form>
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

