﻿@model Entities.RecetaObj

@{
    ViewData["Title"] = "Editar";
}


<head>


    <link href="~/assets/css/formulario.css" rel="stylesheet" media="all">
</head>

<div class="wrapper wrapper--w680">
    <div class="card card-4">
        <div class="card-body">
            <h2 class="title">Editar Receta</h2>
            <form asp-action="Editar">




                <div class="row row-space">
                    <div class="col-12">


                        <input type="hidden" asp-for="idRecetas" />

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="nombreDoctor" class="control-label">Nombre Del Doctor</label>
                            <input asp-for="nombreDoctor" class="form-control" />
                            <span asp-validation-for="nombreDoctor" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="codigoDoctor" class="control-label">Codigo Del Doctor</label>
                            <input asp-for="codigoDoctor" class="form-control" />
                            <span asp-validation-for="codigoDoctor" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="detalleReceta" class="control-label">Detalle Receta</label>
                            <input asp-for="detalleReceta" class="form-control" />
                            <span asp-validation-for="detalleReceta" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="idHistorialClinico" class="control-label">ID Historial Clinico</label>
                            <input asp-for="idHistorialClinico" class="form-control" />
                            <span asp-validation-for="idHistorialClinico" class="text-danger"></span>
                        </div>

                    </div>
                </div>


                <div class="row row-space">
                    <div class="col-6">

                        <div class="form-group">

                            <input type="submit" value="Crear" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="col-6">

                        <div class="form-group">
                            <input type="button" value="Volver" name="Cancelar" class="btn btn-primary" onclick="history.back()" />

                        </div>
                    </div>
                </div>



            </form>
        </div>
    </div>
</div>



















@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



