﻿@model Entities.RecetaObj
@{
    ViewData["Title"] = "Eliminar";
}



<head>


    <link href="~/assets/css/formulario.css" rel="stylesheet" media="all">
</head>

<div class="wrapper wrapper--w680">
    <div class="card card-4">
        <div class="card-body">
            <h2 class="title">Eliminar Receta</h2>
            <form asp-action="Eliminar">




                <div class="row row-space">
                    <div class="col-12">


                        <input type="hidden" asp-for="idRecetas" />

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="nombreDoctor" class="control-label">Nombre Del Doctor : </label>
                            <label asp-for="nombreDoctor" class="control-label">  @Html.DisplayFor(model => model.nombreDoctor)</label>



                            <span asp-validation-for="nombreDoctor" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="codigoDoctor" class="control-label">Codigo Del Doctor : </label>
                            <label asp-for="codigoDoctor" class="control-label">   @Html.DisplayFor(model => model.codigoDoctor)</label>

                            <span asp-validation-for="codigoDoctor" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="detalleReceta" class="control-label">Detalle Receta : </label>
                            <label asp-for="detalleReceta" class="control-label"> @Html.DisplayFor(model => model.detalleReceta)</label>
                            <span asp-validation-for="detalleReceta" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="idHistorialClinico" class="control-label">ID Historial Clinico : </label>
                            <label asp-for="idHistorialClinico" class="control-label"> @Html.DisplayFor(model => model.idHistorialClinico)</label>
                            <span asp-validation-for="idHistorialClinico" class="text-danger"></span>  
                        </div>
                        <div class="form-group">
                            <label asp-for="fechaCreacion" class="control-label">Fecha De Creación : </label>
                            <label asp-for="fechaCreacion" class="control-label"> @Html.DisplayFor(model => model.fechaCreacion)</label>
                            <span asp-validation-for="detalleReceta" class="text-danger"></span>
                        </div>

                    </div>
                </div>


                <div class="row row-space">
                    <div class="col-6">

                        <div class="form-group">

                            <input type="submit" value="Eliminar" class="btn btn-danger" />
                        </div>
                    </div>
                    <div class="col-6">

                        <div class="form-group">
                            <input type="button" value="Cancelar" name="volver" class="btn btn-primary" onclick="history.back()" />

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
