﻿@model X.PagedList.IPagedList<Entities.RecetaObjV>
@{
    ViewData["Title"] = "Index";
}






<style>
    body {
        ​ margin-top: 20px;
        background: #f8f8f8
    }




    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    /* setting the text-align property to center*/
    td {
        padding: 5px;
        text-align: center;
    }

    .field {
        display: flex;
        position: realtive;
        flex-direction: row;
    }

        .field > input[type=text],
        .field > button {
            display: block;
            font: 1.2em 'Montserrat Alternates';
        }



        .field > button {
            height: 100%;
            width: 20%;
            white-space: nowrap;
            border: 0;
            cursor: pointer;
            position: relative;
        }
</style>
<link href="~/assets/css/PagedList.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">


    @{
        ViewBag.Title = "Product Listing";
    }



    @using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@





    <div class="row flex-lg-wrap">
        <div class="rendered-form">
            <div class="row flex-lg-wrap">
                <div class="col mb-3">
                    <div class="e-panel card">
                        <div class="card-body">
                            <div class="card-title">
                                <h4 class="mr-4"><span>Recetas</span><small class="px-1"></small></h4>
                            </div>
                            <nav class="navbar navbar-light">
                                <div class="container-fluid justify-content-start">

                                    <form method="post" asp-controller="Receta" asp-action="Export">
                                        <button class="btn btn-outline-success me-2" id="Excel" type="submit" value="Export" />Excel


                                    </form>


                                    <button type="button" class="btn btn-outline-danger" onclick="location.href='@Url.Action("Crear", "Receta")'">Nuevo</button>


                                </div>
                            </nav>


                            <form asp-action="Index" method="get">
                                <div class="field" id="searchform">
                                    <input type="text" name="SearchString" placeholder="Buscar" value="@ViewData["CurrentFilter"]" />
                                    <button type="submit" value="Search" id="search">Buscar</button>
                                </div>
                            </form>




                            <div class="e-table">
                                <div class="table-responsive table-lg mt-3">





                                    <table class="table table-bordered table-hover  table-condensed ">

                                        <thead>
                                            <tr>


                                                <th class="text-center wrap align-middle"><span> <a asp-action="Index" asp-route-sortOrder="@ViewData["idSortParm"]">ID PACIENTE</a></span></th>






                                                <th class="text-center wrap align-middle">  <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">NOMBRE PACIENTE</a></th>

                                                <th class="text-center wrap align-middle">DETALLE RECETA </th>
                                                <th class="text-center wrap align-middle"> <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-page="@(Model.PageNumber)">FECHA CREACION</a></th>
                                                <th class="text-center wrap align-middle">ACCION</th>



                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>



                                                    <td class="text wrap align-middle"><span> @Html.DisplayFor(modelItem => item.idPaciente) </span></td>
                                                    <td class="text wrap align-middle"> @Html.DisplayFor(modelItem => item.nombrePaciente) </td>
                                                    <td class="text wrap align-middle"><span> @Html.DisplayFor(modelItem => item.detalleReceta) </span></td>
                                                    <td class="text wrap align-middle"><span> @Html.DisplayFor(modelItem => item.fechaCreacion) </span></td>

                                                    <td class="text-center align-middle">
                                                        <div class="btn-group align-top">

                                                            <a class="btn btn-sm btn-outline-secondary badge" asp-action="Editar" asp-route-id="@item.idRecetas">Editar <i class="fa fa-pencil-square" aria-hidden="true"></i></a>

                                                            <a class="btn btn-sm btn-outline-secondary badge" asp-action="Eliminar" asp-route-id="@item.idRecetas">Eliminar <i class="fa fa-trash"></i> </a>



                                                            <input type="hidden" asp-route-id="@item.idHistorialClinico" />


                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="d-flex justify-content-center">

                                    @Html.PagedListPager(Model,
    page => Url.Action("Index", new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter = ViewBag.CurrentFilter
    }))

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
