﻿@model Entities.LoginObj
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/assets/css/login.css" rel="stylesheet"  />

</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <div class="login-wrap p-4 p-md-5">
                        <div class=" d-flex align-items-center justify-content-center">
                            <img src="~/assets/image/LogoDark.png" alt="image" style="width:100px;height:100px;">
                        </div>
                        <br />
                        <form method="post" asp-controller="login" asp-action="login" class="login-form" onsubmit="return submitUserForm();">
                            <div class="form-group">
                                <label asp-for="correoUsuario" class="control-label">Correo</label>
                                <input asp-for="correoUsuario" class="form-control" />
                                <span asp-validation-for="correoUsuario" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="passUsuario" class="control-label">Contraseña</label>
                                <input asp-for="passUsuario" class="form-control" />
                                @ViewBag.msg
                                <span asp-validation-for="passUsuario" class="text-danger"></span>
                            </div>

                            <div class="g-recaptcha" data-sitekey="6LfThaIhAAAAAOfRmhreYX7IxhxPAG23lq9C75Dr" data-callback="verifyCaptcha"></div>
                            <div id="g-recaptcha-error"></div>
                            <br />

                            <div class="form-group d-md-flex">
                                <div class="w-50 text-md-right">
                                    <a href="~/Usuario/Forget">Olvidó La Contraseña</a>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="~/Usuario/Create">Registrarse</a>
                                </div>
                            </div>

                            <div class="form-group">
                                    <button type="submit" value="Login" class="btn btn-primary rounded submit p-3 px-5 g-recaptcha" value="Submit">
                                        Iniciar Sesion
                                    </button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/css/js/jquery.min.js"></script>
    <script src="~/css/js/popper.js"></script>
    <script src="~/css/js/bootstrap.min.js"></script>
    <script src="~/css/js/main.js"></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>var recaptcha_response = '';
        function submitUserForm() {
            if (recaptcha_response.length == 0) {
                document.getElementById('g-recaptcha-error').innerHTML = '<span style="color:red;">Este campo es requerido.</span>';
                return false;
            }
            return true;
        }

        function verifyCaptcha(token) {
            recaptcha_response = token;         
            document.getElementById('g-recaptcha-error').innerHTML = '';
        }</script>

</body>
</html>